<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--MySql-->
    <add name="DbConnString" connectionString="server=localhost;Database=oarms;uid=root;pwd=;charset=utf8;allow zero datetime=true" />
    <!--MSSql-->
    <!--
    <add name="DbConnString" connectionString="Data Source=NICHOLASLEO;User ID=sa;Password=Zzc1030@123456;Initial Catalog=brnshop;Pooling=true" />
    -->
    <!--Oracle-->
    <!--
    <add name="DbConnString" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=Show)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hometest2)));Persist Security Info=True;User ID=system;Password=123456;" />
    -->
  </connectionStrings>
</configuration>